<h1>Editando sub familia</h1>

<%= render 'form', sub_family: @sub_family %>

</br>
<%= link_to raw('<button class="btn btn-primary">Mostrar</button>'), @sub_family %> |
<%= link_to raw('<button class="btn btn-dark">Voltar</button>'), sub_families_path %>


<script>
$('input[name="commit"]').val("Atualizar Sub Família");
</script>
