<p id="notice"><%= notice %></p>

<table class="table">
<tbody>
<tr>
  <th><strong>Email:</strong></th>
  <td><%= @user.email %></td>
</tr>
</tbody>
</table>
<%= link_to raw('<button class="btn btn-primary">Editar</button>'), edit_user_path(@user) %> |
<%= link_to raw('<button class="btn btn-dark">Voltar</button>'), users_path %>
